name: Java8

on:
  push:
    paths:
      - '.github/workflows/java8.yml'
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '45 */3 * * *'

jobs:
  java8:
    # internal comment counter: 100
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        update: [x, 265, 262, 252]
      fail-fast: false
      max-parallel: 6
    name: JDK 8.0.${{ matrix.update }}, ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: zing-actions/setup-java@v1.3.2
      with:
        java-version: 8.0.${{ matrix.update }}
    - name: java -version
      run: java -version
